!!!
%html
  %head
    %script{ :type => 'application/javascript', :src => './bower_components/jquery/dist/jquery.min.js' }
    %script{ :type => 'application/javascript', :src => './js/main.js' }
    %link{ :rel => 'stylesheet', :href => './bower_components/bootstrap/dist/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => './bower_components/font-awesome/css/font-awesome.min.css' }
    %link{ :rel => 'stylesheet', :href => './css/ui.css' }
    %title ika-shot
  %body
    %div.jumbotron
      %div.container
        %h1.ika-font イカショット
        %div.description
          スプラトゥーンの結果画面をカメラで検出し、勝敗を自動記録しています。
          %br
          試したい方はGitHubを確認されたし！
        %a{ :href => 'https://github.com/hogesuke/ika-shot', :target => '_blank' }
          %button.btn.btn-lg.btn-github
            %span.fa.fa-github-alt &nbsp;View on GitHub
    %div.container
      %h2.page-header.ika-font サマリ
      %div.count-container
        %span.count-label.win WIN
        %span.count= @counts['win'].to_s
        %span.count-label.lose LOSE
        %span.count= @counts['lose'].to_s
      %div.progress
        %div.progress-bar.progress-bar-primary{ :style => "width: #{@win_rate}%" }= @win_rate.to_s + '%'
        %div.progress-bar.progress-bar-danger{ :style => "width: #{@lose_rate}%" }= @lose_rate.to_s + '%'
      %h2.page-header.ika-font リザルト
      %div#result-container
        - @items.each do |item|
          = haml :result, :locals => { :item => item }
      %div#load LOAD
