!!!
%html
  %head
    %script{ :type => 'application/javascript', :src => './bower_components/jquery/dist/jquery.min.js' }
    %script{ :type => 'application/javascript', :src => './js/main.js' }
    %link{ :rel => 'stylesheet', :href => './bower_components/bootstrap/dist/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => './bower_components/font-awesome/css/font-awesome.min.css' }
    %link{ :rel => 'stylesheet', :href => './css/ui.css' }
    %link{ :rel => 'shortcut icon', :href => './img/favicon_16px.ico', :sizes => '16x16', :type => 'img/vnd.microsoft.icon' }
    %link{ :rel => 'shortcut icon', :href => './img/favicon_32px.ico', :sizes => '32x32', :type => 'img/vnd.microsoft.icon' }
    %title イカショット
    %meta{ :property => 'og:type', content => 'website' }
    %meta{ :property => 'og:title', content => 'イカショット' }
    %meta{ :property => 'og:image', content => './img/ika-shot.jpg' }
    %meta{ :property => 'og:url', content => 'https://ikashot.net' }
    %meta{ :property => 'og:site_name', content => 'イカショット' }
    %meta{ :property => 'og:description', content => 'スプラトゥーンの結果画面をカメラで検出し、勝敗を自動記録しています。' }
  %body
    %div.jumbotron
      %div.container
        %h1.ika-font イカショット
        %div.description
          スプラトゥーンの結果画面をカメラで検出し、勝敗を自動記録しています。
          %br
          試したい方はGitHubを確認されたし！
        %a{ :href => 'https://github.com/hogesuke/ika-shot', :target => '_blank' }
          %button.btn.btn-lg.btn-github
            %span.fa.fa-github-alt &nbsp;View on GitHub
    %div.container
      %h2.page-header.ika-font サマリ
      %div.count-container
        %span.count-label.win WIN
        %span.count= @counts['win'].to_s
        %span.count-label.lose LOSE
        %span.count= @counts['lose'].to_s
      %div.progress
        %div.progress-bar.progress-bar-primary{ :style => "width: #{@win_rate}%" }= @win_rate.to_s + '%'
        %div.progress-bar.progress-bar-danger{ :style => "width: #{@lose_rate}%" }= @lose_rate.to_s + '%'
      %h2.page-header.ika-font リザルト
      %div#result-container
        - @items.each do |item|
          = haml :result, :locals => { :item => item }
      %div#load.ika-font ネクスト
