!!!
%html
  %head
    %link{ :rel => 'stylesheet', :href => './bower_components/bootstrap/dist/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => './bower_components/font-awesome/css/font-awesome.min.css' }
    %link{ :rel => 'stylesheet', :href => './css/ui.css' }
    %title ika-shot
  %body
    %div.jumbotron
      %div.container
        %h1 Ikashot
        %p Splatoonの結果記録プログラムのサンプルです。
        %a{ :href => 'https://github.com/hogesuke/ika-shot', :target => '_blank' }
          %button.btn.btn-lg.btn-github
            %span.fa.fa-github-alt &nbsp;View on GitHub
    %div.container
      %h2.page-header Summary
      %div.count-container
        %span.count-label.win WIN
        %span.count= @counts['win'].to_s
        %span.count-label.lose LOSE
        %span.count= @counts['lose'].to_s
      %div.progress
        %div.progress-bar.progress-bar-primary{ :style => "width: #{@win_rate}%" }= @win_rate.to_s + '%'
        %div.progress-bar.progress-bar-danger{ :style => "width: #{100 - @win_rate}%" }= (100 - @win_rate).to_s + '%'
      %h2.page-header Results
      - @items.each do |item|
        %div.thumbnail.result-image-container
          %img.result-image{ :src => "/image/#{item.id}" }
          -if item.result == 'win'
            %span.label-result.label.win WIN
          -else
            %span.label-result.label.lose LOSE
          %span.result-date= item.date.strftime('%Y/%m/%d %H:%M')
